$blue-main-color: #0C3156;
$green-main-color: #5EB8B7;
$orange-main-color: #F06543;

@mixin blueMainColorWithOpacityBackground($opacity){
  background-color: rgba(12, 49, 86, $opacity);
}

@mixin blueMainColorWithOpacityText($opacity){
  color: rgba(12, 49, 86, $opacity);
}

@mixin whiteMainColorWithOpacityText($opacity){
  color: rgba(255, 255, 255, $opacity);
}