@import "src/styles/modules/mainStyles";

.tableHeader {
  font-size: 11px;
  background-color: $blue-main-color;
  color: $white-main-color-opacity;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  tr {
    th {
      width: 40px;
      height: 20px;
      padding: 5px;
    }
  }
}